html, body {
    margin: 0px;
    background-color: #FDFFF1;
}
/* .navigation {
    margin-top: 50px; 
    margin-left: 65px; 
    color: #4C7A39;
    font-family: calibri; 
    font-size: 30px;
} */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-atas {
    margin-top: 50px; 
    margin-left: 65px; 
    color: #4C7A39;
    font-family: calibri; 
    font-size: 30px;
}
.kotak-contain {
    width: 450px;
    height: 600px;
    flex-shrink: 0;
    background-color: #4C7A39;
    z-index: 1;
    border-radius: 25px;
    margin-top: 55px;
}

.h3-contain {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E1EBAE;
    font-family: calibri;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 85px;
}
.text-log {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E1EBAE;
    font-family: calibri;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 30px;
}
.akun-contain{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.username {
    width: 275px;
    height: 35px;
    margin-top: 17px;
    border-radius: 30px;
    background: #E1EBAE;
    color: #4C7A39;
    display: flex; 
    align-items: center; 
    margin-top: 11px;
    padding-left: 25px;
    font-size: 30px;
}
.password{
    width: 255px;
    height: 35px;
    margin-top: 15px;
    border-radius: 30px;
    background: #E1EBAE;
    color: #4C7A39;
    padding-left: 25px;
    padding-right: 20px;
}
.tombol {
    display: flex;
    align-items: center;
}
.tombolSignup {
    justify-content: center;
    width: 300px;
    height: 40px;
    flex-shrink: 0;
    margin-top: 30px;
    border-radius: 30px;
    background: #9BC76E; 
    display: flex; 
    align-items: center; 
    color: #FDFFF1;
    font-family: calibri;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}
.logo-contain {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.text-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E1EBAE;
    margin-top: 8px;
    margin-left: 10px;
}
.footer-container {
    position: absolute;
    bottom: 0;
    height: 123px;
    width: 100%;
    background-color: #69A452;
}